/* */
/*  */
/* line 12, ../sass/includes/_include.scss */
.box_shadow {
  box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
}

/* line 16, ../sass/includes/_include.scss */
.border_radius, #comments .comment, .comment.by-node-author, #comment-form .comment.preview, .comment-form .comment.preview {
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 21, ../sass/includes/_include.scss */
.font_oswald {
  font-family: 'oswaldregular';
}

/* BUTTON */
/* line 27, ../sass/includes/_include.scss */
.form-actions .form-submit {
  margin: 0 10px 10px 0;
  border: none;
  padding: 8px 20px;
  color: #fff;
  background: #c01700;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
}
/* line 36, ../sass/includes/_include.scss */
.form-actions .form-submit:hover, .form-actions .form-submit:focus {
  background-color: #333333;
}

/* line 41, ../sass/includes/_include.scss */
.font_awesome, ul.inline .node-readmore a:before, ul.links.inline .node-readmore a:before, .views-field-view-node a:before, #comments .indented:before, .btn-btt:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

/* line 3, ../sass/page.scss */
.container {
  padding-left: 0;
  padding-right: 0;
}

/* view */
/* line 10, ../sass/page.scss */
.view .views-field {
  margin-bottom: 5px;
}

/* main */
/* line 16, ../sass/page.scss */
.submitted {
  color: #999999;
  font-size: 0.923em;
  margin-bottom: 15px;
}

/* line 22, ../sass/page.scss */
.field-type-image {
  margin-bottom: 15px;
}
/* line 24, ../sass/page.scss */
.field-type-image img {
  border: 1px solid #dadada;
  padding: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* line 32, ../sass/page.scss */
ul.inline li, ul.links.inline li {
  display: inline-block;
  padding: 0;
  margin: 0 5px 5px 0;
  color: #999999;
  font-size: 0.92em;
}
/* line 38, ../sass/page.scss */
ul.inline li a, ul.links.inline li a {
  display: inline-block;
  padding: 4px 10px;
  color: white;
  background: #333333;
  vertical-align: middle;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
/* line 46, ../sass/page.scss */
ul.inline li a:hover, ul.inline li a:focus, ul.links.inline li a:hover, ul.links.inline li a:focus {
  background: #c01700;
  color: white;
}
/* line 53, ../sass/page.scss */
ul.inline .node-readmore a, ul.links.inline .node-readmore a {
  padding-left: 17px;
  position: relative;
  color: #999999;
  background: none;
}
/* line 58, ../sass/page.scss */
ul.inline .node-readmore a:before, ul.links.inline .node-readmore a:before {
  content: "\f0fe";
  position: absolute;
  left: 0;
  top: 7px;
}
/* line 65, ../sass/page.scss */
ul.inline .node-readmore a:hover, ul.inline .node-readmore a:focus, ul.links.inline .node-readmore a:hover, ul.links.inline .node-readmore a:focus {
  color: #c01700;
  background: none;
}

/* line 72, ../sass/page.scss */
.views-field-view-node {
  margin-bottom: 0 !important;
}
/* line 74, ../sass/page.scss */
.views-field-view-node a {
  display: inline-block;
  padding: 4px 0 4px 17px;
  position: relative;
  color: #999999;
}
/* line 79, ../sass/page.scss */
.views-field-view-node a:before {
  content: "\f0fe";
  position: absolute;
  left: 0;
  top: 7px;
}
/* line 86, ../sass/page.scss */
.views-field-view-node a:hover, .views-field-view-node a:focus {
  color: #c01700;
}

/* search */
/* line 94, ../sass/page.scss */
#edit-keywords-fieldset .fieldset-wrapper label {
  min-width: 200px;
}

/* contact */
/* line 100, ../sass/page.scss */
.feedback-contact-message-form {
  padding-top: 10px;
}
/* line 102, ../sass/page.scss */
.feedback-contact-message-form label {
  min-width: 140px;
}

/* comment */
/* line 107, ../sass/page.scss */
#comments {
  border-top: 1px solid #dadada;
  padding-top: 20px;
  margin-top: 30px;
  border-top-style: dotted;
}
/* line 112, ../sass/page.scss */
#comments label {
  min-width: 100px;
}
/* line 115, ../sass/page.scss */
#comments .comment {
  border: 1px solid #dadada;
  padding: 15px;
  margin-bottom: 15px;
}
/* line 120, ../sass/page.scss */
#comments .comment h3 {
  font-size: 1.38em;
}
/* line 124, ../sass/page.scss */
#comments .indented {
  margin-left: 30px;
  position: relative;
}
/* line 127, ../sass/page.scss */
#comments .indented:before {
  content: "\f062";
  position: absolute;
  left: -20px;
  top: 0;
}

/* line 137, ../sass/page.scss */
.comment.by-node-author {
  border: 1px solid #dadada;
  padding: 15px;
  margin-bottom: 15px;
}

/* line 145, ../sass/page.scss */
#comment-form .comment.preview, .comment-form .comment.preview {
  padding: 15px;
  border: 1px solid #DCD7BB;
}
/* line 150, ../sass/page.scss */
#comment-form label, .comment-form label {
  min-width: 100px;
}

/* pager */
/* line 157, ../sass/page.scss */
.item-list .pager {
  text-align: right;
  border-top: 1px solid #dadada;
  border-top-style: dotted;
  padding-top: 15px;
}
/* line 162, ../sass/page.scss */
.item-list .pager li {
  margin: 0 0 5px 5px;
  padding: 0;
  display: inline-block;
  font-size: 0.923em;
}
/* line 167, ../sass/page.scss */
.item-list .pager li > a, .item-list .pager li > span {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 3px 7px;
  color: #333;
  background: #ccc;
  border: none;
}
/* line 174, ../sass/page.scss */
.item-list .pager li > a:hover, .item-list .pager li > a:focus, .item-list .pager li > span:hover, .item-list .pager li > span:focus {
  background: #333333;
  color: #fff;
}
/* line 181, ../sass/page.scss */
.item-list .pager .pager-current {
  color: #c01700;
}

/* .slick-slider */
/* line 189, ../sass/page.scss */
.page .slider {
  margin-bottom: 0;
  padding: 0 25px;
}
/* line 192, ../sass/page.scss */
.page .slider .views-field {
  margin-bottom: 0;
}
/* line 195, ../sass/page.scss */
.page .slider .views-field-field-image {
  padding: 0 7px;
}
/* line 197, ../sass/page.scss */
.page .slider .views-field-field-image img {
  border: 2px solid #fff;
}
/* line 201, ../sass/page.scss */
.page .slider .slick-prev {
  left: -7px;
}
/* line 204, ../sass/page.scss */
.page .slider .slick-prev, .page .slider .slick-next {
  margin-top: -16px;
  height: 28px;
  width: 28px;
  opacity: 0.6;
}
/* line 209, ../sass/page.scss */
.page .slider .slick-prev:before, .page .slider .slick-next:before {
  font-size: 30px;
}
/* line 212, ../sass/page.scss */
.page .slider .slick-prev:hover, .page .slider .slick-prev:focus, .page .slider .slick-next:hover, .page .slider .slick-next:focus {
  opacity: 1;
}
/* line 216, ../sass/page.scss */
.page .slider .slick-next {
  right: -5px;
}
/* line 219, ../sass/page.scss */
.page .slider .slick-dots {
  display: none !important;
}

/* search */
/* line 225, ../sass/page.scss */
.search-results {
  padding: 0;
}
/* line 227, ../sass/page.scss */
.search-results h3 {
  font-size: 1.38em;
}
/* line 230, ../sass/page.scss */
.search-results .search-info {
  font-size: 0.923em;
  color: #999999;
}
/* line 234, ../sass/page.scss */
.search-results li {
  border-top: 1px solid #dadada;
  border-top-style: dotted;
  padding-top: 20px;
  margin-bottom: 20px;
}
/* line 239, ../sass/page.scss */
.search-results li:first-child {
  padding-top: 0;
  border-top: none;
}

/* forum */
/* line 247, ../sass/page.scss */
#forum table {
  margin-bottom: 20px;
  width: 100%;
}
/* line 251, ../sass/page.scss */
#forum th {
  background: #333333;
  padding: 7px 10px;
  color: white;
}
/* line 255, ../sass/page.scss */
#forum th a {
  color: white;
}
/* line 258, ../sass/page.scss */
#forum th img {
  margin-left: 3px;
}
/* line 262, ../sass/page.scss */
#forum td {
  padding: 7px 10px;
  border-bottom: 1px solid #dadada;
  border-bottom-style: dotted;
}
/* line 266, ../sass/page.scss */
#forum td .name {
  font-weight: bold;
}
/* line 270, ../sass/page.scss */
#forum td.container {
  background: #ddd;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 0.75em 5px 0.75em 25px;
  border-radius: 0;
  box-shadow: none;
}
/* line 278, ../sass/page.scss */
#forum tr.odd {
  background: #f7f7f7;
}

/* book */
/* line 285, ../sass/page.scss */
.book-navigation .menu {
  margin: 0 0 20px 20px;
  padding: 0;
}
/* line 288, ../sass/page.scss */
.book-navigation .menu li {
  list-style: disc;
}
/* line 292, ../sass/page.scss */
.book-navigation .book-pager {
  border-top: 1px solid #dadada;
  border-top-style: dotted;
  padding: 15px 0 0;
}

/* line 298, ../sass/page.scss */
.field-name-field-category {
  margin-bottom: 15px;
}

/* back to top */
/* line 303, ../sass/page.scss */
.btn-btt {
  position: fixed;
  z-index: 100;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-radius: 50%;
  background: #333;
  text-align: center;
  opacity: 0.8;
  bottom: 20px;
  right: 20px;
  color: #eee;
  display: none;
}
/* line 317, ../sass/page.scss */
.btn-btt:before {
  content: "\f062";
  font-size: 1.23em;
  margin-top: 12px;
}
/* line 323, ../sass/page.scss */
.btn-btt:hover, .btn-btt:focus {
  opacity: 1;
  color: #fff;
}

/* line 328, ../sass/page.scss */
.map {
  padding-top: 20px;
  border-top: 1px solid #dadada;
  border-top-style: dotted;
}
