@media (max-width: 1199px) and (min-width: 992px) {
  /* */
  /*  */
  /* line 12, ../sass/includes/_include.scss */
  .box_shadow {
    box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
  }

  /* line 16, ../sass/includes/_include.scss */
  .border_radius {
    border-radius: 5px;
    -webkit-border-radius: 5px;
  }

  /* line 21, ../sass/includes/_include.scss */
  .font_oswald {
    font-family: 'oswaldregular';
  }

  /* BUTTON */
  /* line 27, ../sass/includes/_include.scss */
  .form-actions .form-submit {
    margin: 0 10px 10px 0;
    border: none;
    padding: 8px 20px;
    color: #fff;
    background: #c01700;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
  }
  /* line 36, ../sass/includes/_include.scss */
  .form-actions .form-submit:hover, .form-actions .form-submit:focus {
    background-color: #333333;
  }

  /* line 41, ../sass/includes/_include.scss */
  .font_awesome {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  }

  /* slideshow */
  /* line 8, ../sass/responsive.scss */
  #slideshow .container .views-field-title {
    font-size: 1.53em;
  }

  /* line 15, ../sass/responsive.scss */
  .subscribe-form .form-text {
    float: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
  }
  /* line 22, ../sass/responsive.scss */
  .subscribe-form .form-submit {
    float: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
  }
}
@media (max-width: 991px) {
  /* */
  /*  */
  /* line 12, ../sass/includes/_include.scss */
  .box_shadow {
    box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
  }

  /* line 16, ../sass/includes/_include.scss */
  .border_radius {
    border-radius: 5px;
    -webkit-border-radius: 5px;
  }

  /* line 21, ../sass/includes/_include.scss */
  .font_oswald {
    font-family: 'oswaldregular';
  }

  /* BUTTON */
  /* line 27, ../sass/includes/_include.scss */
  .form-actions .form-submit {
    margin: 0 10px 10px 0;
    border: none;
    padding: 8px 20px;
    color: #fff;
    background: #c01700;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
  }
  /* line 36, ../sass/includes/_include.scss */
  .form-actions .form-submit:hover, .form-actions .form-submit:focus {
    background-color: #333333;
  }

  /* line 41, ../sass/includes/_include.scss */
  .font_awesome {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  }

  /* slideshow */
  /* line 34, ../sass/responsive.scss */
  #slideshow .container .views-field-title {
    font-size: 2.15em;
  }
  /* line 37, ../sass/responsive.scss */
  #slideshow .container .jssorb05 {
    bottom: 26px !important;
  }
  /* line 39, ../sass/responsive.scss */
  #slideshow .container .jssorb05 div {
    width: 16px !important;
    height: 16px !important;
  }
  /* line 44, ../sass/responsive.scss */
  #slideshow .container .jssora12l, #slideshow .container .jssora12r {
    display: none !important;
  }

  /* line 49, ../sass/responsive.scss */
  .sidebar {
    margin-bottom: 15px;
    display: none;
  }

  /* line 54, ../sass/responsive.scss */
  #panel_second .col-lg-3 {
    margin-bottom: 15px;
  }

  /* line 59, ../sass/responsive.scss */
  #header .region-header {
    padding-right: 50px;
  }

  /* main menu */
  /* line 64, ../sass/responsive.scss */
  #main-menu {
    max-height: 20000px;
    margin-bottom: 0;
  }
  /* line 67, ../sass/responsive.scss */
  #main-menu .container-fluid {
    padding: 0 10px;
  }
  /* line 70, ../sass/responsive.scss */
  #main-menu .container {
    width: 100%;
    height: auto;
  }
  /* line 73, ../sass/responsive.scss */
  #main-menu .container .block {
    float: none;
  }
  /* line 77, ../sass/responsive.scss */
  #main-menu .navbar-header {
    position: absolute;
    right: 10px;
    top: -56px;
    z-index: 500;
  }
  /* line 83, ../sass/responsive.scss */
  #main-menu .navbar-toggle {
    display: block;
    background: #fff;
    border-color: #e7e8e9;
    margin: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  /* line 90, ../sass/responsive.scss */
  #main-menu .navbar-toggle:hover, #main-menu .navbar-toggle:focus {
    background: #dddddd;
  }
  /* line 93, ../sass/responsive.scss */
  #main-menu .navbar-toggle .icon-bar {
    background: #333;
  }
  /* line 97, ../sass/responsive.scss */
  #main-menu .navbar-collapse {
    max-height: 200000px;
  }
  /* line 99, ../sass/responsive.scss */
  #main-menu .navbar-collapse .container {
    height: 0;
    overflow: hidden;
    background: #f6f6f6;
  }
  /* line 103, ../sass/responsive.scss */
  #main-menu .navbar-collapse .container ul.menu {
    float: none;
    padding: 5px 15px;
  }
  /* line 106, ../sass/responsive.scss */
  #main-menu .navbar-collapse .container ul.menu li {
    border-left: none;
    float: none;
    border-top: 1px solid #dadada;
    border-top-style: dotted;
  }
  /* line 111, ../sass/responsive.scss */
  #main-menu .navbar-collapse .container ul.menu li a {
    display: block;
    color: #333333;
    border-radius: 0;
    padding: 10px 0;
  }
  /* line 117, ../sass/responsive.scss */
  #main-menu .navbar-collapse .container ul.menu li .active {
    color: #c01700;
    background: none;
  }
  /* line 122, ../sass/responsive.scss */
  #main-menu .navbar-collapse .container ul.menu li:hover a, #main-menu .navbar-collapse .container ul.menu li:focus a {
    background: none;
    color: #c01700;
  }
  /* line 127, ../sass/responsive.scss */
  #main-menu .navbar-collapse .container ul.menu li:first-child {
    border-top: none;
  }
  /* line 130, ../sass/responsive.scss */
  #main-menu .navbar-collapse .container ul.menu li ul.menu {
    position: static;
    left: auto;
    top: auto;
    width: auto;
    display: block;
    border: none;
    background: none;
  }
  /* line 138, ../sass/responsive.scss */
  #main-menu .navbar-collapse .container ul.menu li ul.menu li {
    border-top: 1px solid #dadada;
    border-top-style: dotted;
  }
  /* line 141, ../sass/responsive.scss */
  #main-menu .navbar-collapse .container ul.menu li ul.menu li a {
    background: none;
    color: #333333;
    padding: 10px 0;
  }
  /* line 145, ../sass/responsive.scss */
  #main-menu .navbar-collapse .container ul.menu li ul.menu li a:hover, #main-menu .navbar-collapse .container ul.menu li ul.menu li a:focus {
    color: #c01700;
  }
  /* line 153, ../sass/responsive.scss */
  #main-menu .navbar-collapse .container ul.menu .expanded > a:before {
    color: #333333;
  }
  /* line 161, ../sass/responsive.scss */
  #main-menu .navbar-collapse.in .container {
    height: auto;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  /* line 174, ../sass/responsive.scss */
  h2, h1, .h1 {
    font-size: 1.38em;
  }

  /* line 175, ../sass/responsive.scss */
  .page {
    padding: 0 15px;
  }
  /* line 178, ../sass/responsive.scss */
  .page .slider .views-field-field-image {
    padding: 0 44px;
  }

  /* line 185, ../sass/responsive.scss */
  #main-menu .navbar-header {
    right: 0;
    margin: 0;
  }

  /* slideshow */
  /* line 194, ../sass/responsive.scss */
  #slideshow .container .jssorb05 {
    bottom: 26px !important;
  }
  /* line 196, ../sass/responsive.scss */
  #slideshow .container .jssorb05 div {
    width: 26px !important;
    height: 26px !important;
  }
  /* line 201, ../sass/responsive.scss */
  #slideshow .container .views-field-title {
    display: none;
  }

  /* line 208, ../sass/responsive.scss */
  #featured .container .views-col {
    width: 100% !important;
    margin-bottom: 15px;
  }

  /* line 215, ../sass/responsive.scss */
  .navbar-collapse.in {
    overflow: visible;
  }

  /* sidebar */
  /* line 221, ../sass/responsive.scss */
  #header .region-header {
    padding-right: 50px;
  }
  /* line 224, ../sass/responsive.scss */
  #header .search-block-form {
    width: 190px;
  }
  /* line 227, ../sass/responsive.scss */
  #header .search-block-form .form-item .form-search {
    width: 83%;
  }
  /* line 231, ../sass/responsive.scss */
  #header .search-block-form .button {
    padding: 0;
    width: 26px;
  }

  /* line 240, ../sass/responsive.scss */
  #main .feedback-contact-message-form label {
    display: block;
  }
  /* line 243, ../sass/responsive.scss */
  #main .feedback-contact-message-form .form-text, #main .feedback-contact-message-form .form-email {
    width: 230px;
  }

  /* footer */
  /* line 250, ../sass/responsive.scss */
  #footer .block {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  /* line 255, ../sass/responsive.scss */
  #footer .block p {
    margin: 0;
  }
  /* line 259, ../sass/responsive.scss */
  #footer ul.menu {
    text-align: center;
  }
  /* line 261, ../sass/responsive.scss */
  #footer ul.menu li {
    margin: 0;
    padding: 0 10px;
  }

  /* line 268, ../sass/responsive.scss */
  #forum td, #forum th {
    padding: 7px 3px;
    font-size: 0.923em;
  }

  /* line 273, ../sass/responsive.scss */
  #forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
    white-space: normal;
  }

  /* line 277, ../sass/responsive.scss */
  #comments .form-text {
    width: 100%;
  }
}
@media (max-width: 479px) {
  /* line 285, ../sass/responsive.scss */
  #header #logo {
    float: none;
  }
  /* line 288, ../sass/responsive.scss */
  #header .region-header {
    float: none;
    padding: 15px 50px 0 0;
  }
  /* line 292, ../sass/responsive.scss */
  #header .search-block-form {
    width: 100%;
  }

  /* line 298, ../sass/responsive.scss */
  #main-menu .navbar-header {
    top: -48px;
  }

  /* line 305, ../sass/responsive.scss */
  #slideshow .container .jssorb05 div {
    width: 34px !important;
    height: 34px !important;
  }

  /* line 315, ../sass/responsive.scss */
  #main .container .content .field-type-image {
    float: none;
    margin: 0 0 15px !important;
  }
  /* line 319, ../sass/responsive.scss */
  #main .container .content #edit-user-picture-wrapper {
    padding: 5px;
  }

  /* line 328, ../sass/responsive.scss */
  #footer ul.menu li {
    padding: 0 5px;
  }

  /* line 335, ../sass/responsive.scss */
  .page .slider .views-field-field-image {
    padding: 0 10px;
  }
}
