/**
  Blue Color
*/
body {
  background: url(images/bg-body.png) no-repeat 50% 0 fixed #666668;
}

/* link */
a {
  color: #ff0066;
}

a:hover {
  color: #ff0066;
}

/* Active Links */
#menu-bar-wrapper .region-menu-bar {
  background: #252525;
}

.sf-menu.sf-style-zircon li {
  background: url(images/bg-line-nav.gif) repeat-y 0 0;
}

.sf-menu.sf-style-zircon a {
  color: #fff;
}

.sf-menu.sf-style-zircon a.active {
  background: #e3005b;
}

.sf-menu.sf-style-zircon .active-trail .sf-depth-1 {
  background: #e3005b;
}

/* Hover Links */
.sf-menu.sf-style-zircon li.sfHover > a,
.sf-menu.sf-style-zircon a:hover,
.sf-menu.sf-style-zircon a:focus,
.sf-menu.sf-style-zircon a:active {
  background: #e3005b;
}

.sf-menu.sf-style-zircon ul {
  border-color: #e3005b;
  background: #252525;
}

.sf-menu.sf-style-zircon.sf-navbar ul li a:hover,
.sf-menu.sf-style-zircon.sf-navbar ul li a:focus,
.sf-menu.sf-style-zircon.sf-navbar ul li a:active {
  color: #ff0066 !important;
}

.sf-menu.sf-style-zircon.sf-navbar ul li .active {
  color: #ff0066 !important;
}

.sf-menu.sf-style-zircon ul li {
  border-color: #2f2f2f;
}

.sf-menu.sf-style-zircon.sf-navbar ul li.menuparent:hover > a,
.sf-menu.sf-style-zircon.sf-navbar ul ul li a:hover,
.sf-menu.sf-style-zircon.sf-navbar ul ul li a:active,
.sf-menu.sf-style-zircon.sf-navbar ul ul li a:focus,
.sf-menu.sf-style-zircon.sf-navbar ul ul li a.active {
  color: #ff0066 !important;
}

/* menu */
.block ul.menu li a {
  background: url(images/ico-menu.png) 5px 11px no-repeat;
}

.block ul.menu li.active-trail > a,
.block ul.menu li > a.active {
  background-position: 5px -23px;
  color: #ff0066;
}

.block ul.menu li li a:hover,
.block ul.menu li li a:focus,
.block ul.menu li li a:active {
  background-position: 5px -92px;
  color: #ff0066;
}

.block ul.menu li a:hover,
.block ul.menu li a:focus,
.block ul.menu li a:active {
  background-position: 5px -23px;
  color: #ff0066;
  text-decoration: none;
}

.block ul.menu li li a.active {
  background-position: 5px -92px;
  color: #ff0066;
}

.block-user .item-list li a.username {
  color: #ff0066;
}

.view-grid-panel .views-field-title a:hover,
.view-grid-panel .views-field-title a:focus,
.view-grid-panel .views-field-title a:active {
  color: #ff0066;
}

.node-title a:hover,
.node-title a:active,
.node-title a:focus,
.region-content .view .views-row .views-field-title a:hover,
.region-content .view .views-row .views-field-title a:active,
.region-content .view .views-row .views-field-title a:focus,
.region-content .view .views-row .views-field-name a:hover,
.region-content .view .views-row .views-field-name a:active,
.region-content .view .views-row .views-field-name a:focus {
  color: #ff0066;
}

.article ul.links li.comment-comments a:hover,
.article ul.links li.comment-comments a:active,
.article ul.links li.comment-comments a:focus {
  background: #ff0066;
}

.item-list ul.pager li.pager-current {
 color: #ff0066;
}

.sidebar .block-title,
.block-rounded .block-title,
.block-xhtml .block-title {
  background: #252525;
}

.block-quicktabs .views-row .views-field-title a:hover {
  color: #ff0066;
}

.quicktabs-style-zircon .block-content .item-list ul li a:hover,
.quicktabs-style-zircon .block-content .item-list ul li a:active,
.quicktabs-style-zircon .block-content .item-list ul li a:focus {
  color: #ff0066;
}

.item-list ul li a:hover,
.item-list ul li a:active,
.item-list ul li a:focus {
  color: #ff0066;
}

/* Active Accordion Header */
.quick-accordion-zircon .ui-state-active {
  background: #ff0066;
  border: 1px solid #ff0066;
}

.block-poll .links li a:hover {
  color: #ff0066;
}

/* controls */
.view-horizontal-carousel .jcarousel-prev-horizontal {
  background: url(images/controls.png) 0 0 no-repeat;
}

.view-horizontal-carousel .jcarousel-prev-horizontal:hover {
  background-position: 0 -30px;
}

.view-horizontal-carousel .jcarousel-next-horizontal {
  background: url(images/controls.png) 0 -60px no-repeat;
}

.view-horizontal-carousel .jcarousel-next-horizontal:hover {
  background-position: 0 -90px;
}

/* contact */
.email-address a {
  color: #ff0066;
}

.email-address a:hover {
  color: #fff;
}

/* Newsletter */
.block-custom-form .form-item {
  background: #000;
  border-color: #fff;
  border-bottom: none;
}

.block-custom-form span.button input.form-submit {
  background: #ff0066;  
}

.block-custom-form .form-text {
  color: #666;
}

/* tab admin */
ul.primary li a:hover {
  color: #ff0066;
}

/* button */
span.button input.form-submit:hover, 
span.button input.form-submit:focus,
.comment ul.links li a:hover, 
.comment ul.links li a:active, 
.comment ul.links li a:focus {
  background: #ff0066;
}

/* comment */
.comment-title a:hover, 
.comment-title a:active, 
.comment-title a:focus {
  color: #ff0066;
}

.page-blog ul.action-links li a,
.node-blog ul.links li.blog_usernames_blog a:hover, 
.node-blog ul.links li.blog_usernames_blog a:active, 
.node-blog ul.links li.blog_usernames_blog a:focus,
.page-forum ul.action-links li a {
  background: #ff0066;
}

.page-blog ul.action-links li a:hover,
.page-forum ul.action-links li a:hover {
  background: #333;
}

/* Categories */
.region-content .view .views-view-grid .grid-inner .views-field-name a:hover, 
.region-content .view .views-view-grid .grid-inner .views-field-name a:focus, 
.region-content .view .views-view-grid .grid-inner .views-field-name a:active {
  color: #ff0066;
}

/* gallery */
.galleryformatter-greenarrows .gallery-thumbs .back {
  background: url(images/controls.png) no-repeat 0 0;
}

.galleryformatter-greenarrows .gallery-thumbs .back:hover {
  background-position: 0 -30px;
}

.galleryformatter-greenarrows .gallery-thumbs .forward {
  background: url(images/controls.png) no-repeat 0 -60px;
}

.galleryformatter-greenarrows .gallery-thumbs .forward:hover {
  background-position: 0 -90px;
}

/* forum */
#forum td.forum .name a:hover, 
#forum td.forum .name a:active, 
#forum td.forum .name a:focus {
  color: #ff0066;
}

/* sitemap */
#site-map a:hover, 
#site-map a:focus, 
#site-map a:active {
  color: #ff0066;
}

/* sarch */
.search-results .title a:hover {
  color: #ff0066;
}

.block-user .item-list li a:hover, 
.block-user .item-list li a:focus, 
.block-user .item-list li a:active {
  color: #ff0066;
}

#panel-second-wrapper .container {
  background: #3c3c3c;
}

#panel-third-wrapper .container,
#footer-wrapper .container {
  background: #252525;
}

#panel-third-wrapper .block-inner,
#breadcrumb-wrapper,
#footer-wrapper .grid-inner {
  border-color: #3f3f3f;
}

#panel-first-wrapper > .container,
#main-wrapper > .container,
#panel-second-wrapper .container,
#slideshow-wrapper .container {
  box-shadow: 0 0 5px #333;
  -webkit-box-shadow: 0 0 5px #333;
}

/* sidebar view */
.sidebar .block-views .views-field-title .field-content a:hover, 
.sidebar .block-views .views-field-title .field-content a:focus, 
.sidebar .block-views .views-field-title .field-content a:active {
  color: #ff0066;
}

/* pannel */
#panel-third-wrapper h2,
.email-address a {
  text-shadow: 0 1px 0 #000;
}

/* back to top */
a.btn-btt {
  background: #000;
}

/* menu bar */
#menu-bar-wrapper ul.menu li {
  background: url(images/bg-line-nav.gif) 0 0 repeat-y;
}

#menu-bar-wrapper ul.menu li a:hover,
#menu-bar-wrapper ul.menu li a:focus,
#menu-bar-wrapper ul.menu li a:active,
#menu-bar-wrapper ul.menu li a.active {
  background: #e3005b;
}

#menu-bar-wrapper ul.menu li.active-trail > a.active-trail {
  background: #e3005b;
}

#menu-bar-wrapper ul.menu ul {
  background: #252525;
  border-color: #e3005b;
}

#menu-bar-wrapper ul.menu ul li {
  border-color: #2f2f2f;
}

#menu-bar-wrapper ul.menu ul li a {
 color: #aaa;
}
